@tailwind base;
@tailwind components;

.form-input {
    @apply 
    border 
    border-text-light 
    rounded p-2 w-full 
    focus:outline-none 
    focus:border-primary
    text-primary-darker;
}

.form-btn {
    @apply 
    bg-primary 
    text-white 
    focus:outline-none 
    focus:bg-primary-darker 
    focus:text-white 
    rounded 
    transition-all 
    py-2 px-4 
    hover:bg-primary-darker 
    hover:text-white;
}

.form-link {
    @apply 
    text-primary 
    focus:outline-none 
    focus:text-primary-darker 
    hover:text-primary-darker 
    transition-all;
}

@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

